<fieldset
  class="fieldset bg-base-200 border-base-300 rounded-box border p-4 w-full"
>
  @if (field$$().props()["title"]; as title) {
    <legend class="fieldset-legend">{{ title }}</legend>
  }
  <ng-template #fieldItem let-field="field">
    @if (!field.renderConfig().hidden) {
      <div [class]="field.props()['itemClass']">
        @if (field.props()["title"] && !field.props()["hideTitle"]) {
          @let requiredLable = field.form.control?.required$$() ? "*" : "";
          <label class="label"
            >{{ field.props()["title"] }}{{ requiredLable }}</label
          >
        }
        @let valid = field.form.control && field.form.control.valid;
        @let invalid = field.form.control && !valid;
        @let pristine = field.form.control && field.form.control.pristine;
        @let dirty = field.form.control && !pristine;
        @let touched = field.form.control && field.form.control.touched;
        @let untouched = field.form.control && !touched;
        <div
          [class.pi-valid]="valid"
          [class.pi-invalid]="invalid"
          [class.pi-pristine]="pristine"
          [class.pi-dirty]="dirty"
          [class.pi-touched]="touched"
          [class.pi-untouched]="untouched"
        >
          <ng-container
            *ngTemplateOutlet="
              fieldTemplateRef();
              context: { $implicit: field }
            "
          ></ng-container>
        </div>
        @if (field.form.control?.errors) {
          @if (touched || dirty || field.props()["forceShowError"]) {
            <p class="label text-error">{{ errorStr(field) }}</p>
          }
        }
        @if (field.props()["description"]) {
          <p class="label">{{ field.props()["description"] }}</p>
        }
      </div>
    }
  </ng-template>

  <div [class]="wrapperClass()" class="flex flex-col gap-4">
    @for (field of field$$().fixedChildren!(); track field.id || $index) {
      <ng-container
        *ngTemplateOutlet="fieldItem; context: { field }"
      ></ng-container>
    }
    @if (field$$().restChildren?.(); as restChildren) {
      <div class="divider"></div>
      @for (field of restChildren; track field.id || $index) {
        <div class="flex items-center gap-2">
          <ng-container
            *ngTemplateOutlet="fieldItem; context: { field }"
          ></ng-container>
          <button
            class="btn btn-circle btn-soft btn-error"
            (click)="remove($index)"
          >
            <mat-icon>remove</mat-icon>
          </button>
        </div>
      }
      <button class="btn" (click)="add()">
        <mat-icon>add</mat-icon>
      </button>
    }
  </div>
</fieldset>
