<div class="mx-auto max-w-[100rem] bg-base-100">
  <div
    class="flex xl:flex-row flex-col items-center min-h-[calc(100vh-4rem)] xl:items-stretch gap-10"
  >
    <div class="flex-1 flex items-center py-10 ps-10">
      <div class="flex gap-10 flex-col">
        <h1 class="text-8xl font-black">平台无关的表单布局解决方案</h1>
        <p class="text-3xl font-light">
          皮影提供了可以在任意平台上使用的
          <br />
          快速组件布局,定位,事件融合监听及
          <br />
          表单设计,验证,分区禁用,类型化等功能
        </p>
        <div class="flex gap-4">
          <a role="button" class="btn btn-primary" routerLink="/docs/intro/"
            >查看介绍</a
          >
          <button class="btn btn-soft btn-info" routerLink="/docs/join-test">加入测试</button>
        </div>
      </div>
    </div>
    <div class="flex-1 group/right flex items-center">
      <div class="flex flex-col gap-4 relative">
        <div class="mockup-code w-full bg-base-200 text-base-content">
          <pre class="flex"><code [hilightCode]="schemaCode"></code></pre>
        </div>
        <piying-view
          [schema]="schema"
          [options]="options"
          [model]="model"
        ></piying-view>
      </div>
    </div>
  </div>
</div>
