/* You can add global styles to this file, and also import other style files */
fieldset {
  label:has(+ fieldset-group) {
    display: none;
  }
}
html:not(:has(main[type=home])) {
  scrollbar-gutter: stable both-edges;
}
